{% extends "megaphone/_layout" %}

{% import "_includes/forms" as forms %}

{% set content %}
	<form method="post" accept-charset="UTF-8" data-saveshortcut="1">

		<input type="hidden" name="action" value="megaphone/migrate">

		{{ forms.selectField({
			label: "What do you want to do?"|t,
			instructions: "Please choose operation."|t,
			id: 'operation',
			name: 'operation',
			options: {
				pull: 'Pull',
				push: 'Push',
			},
		}) }}

		{{ forms.textareaField({
			label: "Connection string"|t,
			instructions: "Paste in here the remote connection string."|t,
			id: 'connectionString',
			name: 'connectionString',
		}) }}

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Migrate'|t }}">
		</div>

	</form>
{% endset %}
